aws_region          = "{{ aws_region }}"
vpc_cidr            = "{{ vpc_cidr }}"
public_subnet_cidr  = "{{ public_subnet_cidr }}"
availability_zone   = "{{ availability_zone }}"
bucket_name         = "{{ bucket_name }}"
instance_type       = "{{ instance_type }}"
